
body{
    background-image: url('bg3.jpg');
    background-repeat:cover;
    color: rgb(255, 255, 255);
    background-size: 100%;
    background-color: (0,0,0,0.3);
    place-items: center;
}
body::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(138, 86, 3, 0.7) ;
    z-index: -1; 
}
#dice{
    height:100px;
    width:100px;
}

.diceSection {
    position: relative;
    background: linear-gradient(to right, rgb(171, 255, 2), rgb(3, 246, 84));
    color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 20px;
    font-family: "Lucida Console", "Courier New", monospace;
}

.diceSection::before {
    content: "";
    position: absolute;
    top: -3px;
    right: -3px;
    bottom: -3px;
    left: -3px;
    box-shadow: 0 0 0 3px transparent;
    border-radius: 6px;
}
#green, #blue{
    height: 70px;
    width: 60px;
}
/* .player1, .player2 {
    position: absolute; /* Change position to absolute */
    /* height: 40px; */
    /* width: 40px; */
    /* border: 1px solid white; */
    /* border-radius: 50%; */
    /* left: -80px; Initial left position */
    /* top: 0px; Initial top position 
} */
.player1{
    position:absolute;
    height: 40px;
    width: 40px;
    /* border: 1px solid white; */
    /* background-color: black; */
    left: -90px;
    top:10px;
}
.player2{
    position: absolute;
    height: 40px;
    width: 40px;
    /* border: 1px solid white; */
    /* background-color: rgb(255, 1, 1); */
    left: -90px;
    top:10px;
    z-index: 1;
}
#cnt{
    background-image: url("board3.jpg");
    background-size: cover;
    height:600px;
    width: 600px;
}
.custom-border {
    padding: 5px;
    height: 60px;
    width: 60px;
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.colLeft{
    height:600px;
}